attrs
beautifulsoup4
CacheControl
certifi
chardet
charset-normalizer
cssselect
feedparser
idna
jsonschema
lockfile
lxml
mecab
msgpack
mysqlclient
oauthlib
pymongo
pyquery
pyrsistent
python-dotenv
requests
requests-oauthlib
sgmllib3k
soupsieve
tenacity
tweepy
urllib3
wikiextractor
