attrs
beautifulsoup4
black
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
cssselect
cycler
et-xmlfile
feedparser
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
isort
japanize-matplotlib
jsonschema
kiwisolver
lockfile
lxml
matplotlib
mecab
msgpack
mypy-extensions
mysqlclient
numpy
oauthlib
openpyxl
packaging
pandas
pathspec
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycparser
pymongo
pyOpenSSL
pyparsing
pyquery
pyrsistent
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rsa
scipy
seaborn
sgmllib3k
six
soupsieve
tenacity
tomli
tweepy
uritemplate
urllib3
wikiextractor
xlrd
